absl-py==1.0.0
astunparse==1.6.3
attrs==21.2.0
bidict==0.21.4
cachetools==3.1.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==2.0.0
decorator==5.1.1
dill==0.3.4
dm-tree==0.1.6
farmhashpy==0.4.0
Flask==2.0.3
Flask-SocketIO==5.1.1
flatbuffers==2.0
gast==0.5.3
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.55.0
grpcio==1.34.1
h11==0.13.0
h5py==3.6.0
idna==3.3
importlib-metadata==4.11.1
importlib-resources==5.4.0
itsdangerous==2.1.0
jax==0.2.28
jaxlib==0.1.76
Jinja2==3.0.3
joblib==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
libclang==13.0.0
Markdown==3.3.6
MarkupSafe==2.1.0
mpmath==1.2.1
numpy==1.21.5
oauthlib==3.2.0
opt-einsum==3.3.0
portpicker==1.3.9
promise==2.3
protobuf==3.19.4
py4j==0.10.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyspark==2.4.3
python-dotenv==0.19.2
python-engineio==4.3.1
python-socketio==5.5.2
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.0.2
scipy==1.8.0
semantic-version==2.8.5
simple-websocket==0.5.1
six==1.16.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-datasets==4.5.2
tensorflow-estimator==2.8.0
tensorflow-federated==0.20.0
tensorflow-io-gcs-filesystem==0.24.0
tensorflow-metadata==1.6.0
tensorflow-model-optimization==0.7.1
tensorflow-privacy==0.7.3
tensorflow-probability==0.16.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tqdm==4.28.1
typing-extensions==4.1.1
urllib3==1.26.8
Werkzeug==2.0.3
wrapt==1.13.3
wsproto==1.0.0
zipp==3.7.0
